@media screen and (max-width: 768px) {
    .page-content {
        padding: $pd-full-6;
    }
    .heading-title-alt {
        .half-text {
            width: 90%;
            line-height: 20px;
        }
    }
}
@media screen and (max-width: 767px) {
    .contact__content{
        height: 600px;
    }
}
